
body {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  border-top: solid 3px #2268B2;

}

.card-imag-top{
  vertical-align: middle;
  max-width: 270px;
  max-height: 250px;
  margin-top: 40px;
  
}

.card{
  inline-size: -webkit-fill-available;
  max-inline-size: 350px;
  display: inline-block;
  text-align: center;
}

.card-body h1{
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .005em;
  margin: 0;
  line-height: inherit;
  color: #1a28e7;
}

p{
  text-align: left;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
}
