{% load static %}
{% for evento in eventos %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow text-center shadow p-3 mb-5 bg-white rounded">
        <img class="card-imag-top" src="{{evento.banner.url}}" alt="Card image cap">
        <hr>
        <div class="card-body" style="padding-top: 0px;">
            <h5 class="card-title">
                <a href="{% url 'sigea:evento_pagina' evento.id evento.slug %}" >{{evento.titulo}}</a>
            </h5>
            <p class="card-text"><small class="text-muted" style="color: #2b2c2d!important;">
                {% if evento.data_inicio == evento.data_fim%}
                   {{evento.data_fim }} <br>
                {% else %}
                   {{evento.data_inicio|date:'d' }} á {{evento.data_fim}}<br>
                {% endif %}
                {{evento.local}}
            </small></p>
        </div>
    </div>
</div>
{% endfor %}
