<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

   <title>SIGEA - UESPI</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/index.css' %}" rel="stylesheet">

  </head>

  <body>

     <!-- Navigation -->
    <div class="shadow p-3 mb-5 bg-white rounded">
        {% include 'includes/navbar.html' %}
    </div>

    <main role="main">

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <img class="card-imag-top" src="{% static 'img/teste.png' %}" alt="Card image cap">
                  <div class="card-body">
                  <a href="#" target="_blank">
                    <h1 title="I SINTA - Simpósio de Internacionalização Acadêmica" itemprop="name">I SINTA - Simpósio de Internacionalização Acadêmica</h1>
                  </a>
                  <p class="card-text"><small class="text-muted">
                  Data: 17 - 19 de Feveiro de 2020 <br>
                  Local: UESPI
                  </small></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <img class="card-imag-top" src="{% static 'img/teste2.jpeg' %}" alt="Card image cap">
                  <div class="card-body">
                  <a href="#" target="_blank">
                    <h1 title="Novembro Afro: A condição da juventude negra e mulheres na atualidade" itemprop="name">Novembro Afro: "A condição da juventude negra e mulheres na atualidade</h1>
                  </a>
                   <p class="card-text"><small class="text-muted">
                    Data: 24 - 26 de Janeiro de 2020 <br>
                    Local: IFPI Sul
                 </small></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <img class="card-imag-top" src="{% static 'img/teste3.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                  <a href="#" target="_blank">
                    <h1 title="Formação em Analista de RH- Juazeiro/Ba" itemprop="name">Formação em Analista de RH- Juazeiro/Ba</h1>
                  </a>
                 <p class="card-text"><small class="text-muted">
                    Data: 31 de Janeiro de 2020 <br>
                    Local: CTU
                 </small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <!-- Footer -->
    {% include 'includes/footer.html'%}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
