<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="pt-br">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SIGEA - LOGIN</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Login core CSS-->
   <link href="{% static 'css/login.css' %}" rel="stylesheet">

</head>

<body>

  <div class="shadow p-3 mb-5 bg-white rounded">
    {% include 'includes/navbar.html' %}
  </div>

  <div class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>SIGEA - Login</h1>
                            <h3>Organização</h3>
						 </div>
					</div>
               {% if form.errors %}
                  <p>Your username and password didn't match. Please try again.</p>
               {% endif %}
               <form action="" method="post" name="login">
               {% csrf_token %}
                  <div class="form-group">
                     <label for="exampleInputEmail1">Email</label>
                      {% render_field form.username type="email" class="form-control" %}
                  </div>
                  <div class="form-group">
                     <label for="exampleInputEmail1">Senha</label>
                     {% render_field form.password type="password" class="form-control" %}
                  </div>
                  <div class="input-group">
                     <span class="input-group-btn">
                        <button type="submit" class=" btn btn-block mybtn1 btn-primary tx-tfm">Entrar</button>
                     </span>
                     <span class="input-group-btn">
                     <a href="/" class=" btn btn-block mybtn2 btn-info tx-tfm">Voltar</a>                                </span>
                  </div>
                     <br>
                  <div class="form-group">
                     <p class="text-center">Recupera senha! <a href="#" id="signup">Clique aqui</a></p>
                  </div>
               </form>
				</div>
			</div>
		</div>
   </div>   

  <!-- Footer -->
  {% include 'includes/footer.html'%}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
