{% load widget_tweaks %}
<div class="row">
    <div class="col-md-5">
        <label class="font-weight-bold" for="titulo">Titulo:</label>
        {% render_field programacao_form.titulo placeholder="Titulo da Programação." class="form-control" %}
    </div>
    <div class="col-md-3">
        <label class="font-weight-bold" for="palestrante">Palestrante:</label>
        {% render_field programacao_form.palestrante class="form-control"%}
    </div>
    <div class="col-md-2">
        <label class="font-weight-bold" for="tipo">Tipo de Atividade:</label>
        {% render_field programacao_form.tipo class="form-control" placeholder="Ex: Minicurso"%}
    </div>
     <div class="col-md-2">
        <label class="font-weight-bold" for="inscrever">Requer inscrição:</label>
        {% render_field programacao_form.inscrever class="form-control"%}
    </div>
</div>
<div class="col-md-3" style="padding-left: 0px;padding-top: 12px;">
    <label class="font-weight-bold" for="data_hora">Data / Horário:</label>
    <div class="form-group">
        <div class="input-group date" id="datetimepicker5" data-target-input="nearest">
            {% render_field programacao_form.data_hora placeholder="Horario da Atividade." class="form-control datetimepicker-input" data-target="#datetimepicker5" %}
                <div class="input-group-append" data-target="#datetimepicker5" data-toggle="datetimepicker" data-toggle="tooltip" data-placement="top" title="Selecione a data e as horas!">
                <div class="input-group-text"><i class="material-icons">date_range</i></div>
            </div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-success mb-4"><i class="material-icons" style="vertical-align: bottom;">
add
</i>Adicionar</button>
