{% load widget_tweaks %}
<div class="row">
    <div class="col-md-5 form-group">
        <label class="font-weight-bold" for="nome">Nome:</label>
        {% render_field palestrante_form.nome placeholder="Nome do Palestrante." class="form-control" %}
    </div>
    <div class="col-md-5 form-group">
        <label class="font-weight-bold" for="afiliacao">Afiliação:</label>
        {% render_field palestrante_form.afiliacao placeholder="Afiliação do Palestrante." class="form-control" %}
    </div>
</div>
<div class="col-md-5 form-group" style="right: 15px;">
    <label class="font-weight-bold" for="imagem">Foto:</label>
    <div class="input-group mb-3">
        <div class="custom-file">
            {% render_field palestrante_form.imagem class="form-control "%}
        </div>
    </div>
</div>
<button type="submit" class="btn btn-success mb-4"><i class="material-icons" style="vertical-align: bottom;">
add
</i>Adicionar</button>


